*{margin:0;font-family: 'DM Sans', sans-serif !important;  
    font-size:0.9rem;
    font-weight:400;
    line-height:1.5;
    padding-left: 20px;
    padding-right: 20px;
}

.page{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    padding-top:30px;
    padding-bottom:70px;
    border-bottom: 1px solid #efefef;
}


.vue{
    color: #2c3e50;
}
.brand{
    float: left;
    font-size: 30px;
}

.logout{
    margin-top: 10px;
    float: right;
    cursor: pointer;
}

